:root {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 12px;
  width: 300px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.enhance-button {
  width: 100%;
  background: #4cc0e6;
  background: radial-gradient(
    circle,
    rgba(76, 192, 230, 1) 0%,
    rgba(30, 113, 176, 1) 100%
  );
  color: white;
  border-radius: 8px;
  padding: 10px 16px;
  margin-block: 10px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    scale: 1.025;
    box-shadow: #4cc0e6 5px 5px 5px;
    transition: all 0.3s;
  }
}

h1 {
  color: rgb(59, 130, 236);
}

textarea {
  width: 100%;
  resize: vertical;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1.5px solid #4cc0e6;
  border-radius: 8px;
}

p {
  font-size: 13px;
}

textarea#input, textarea#output {
  height: 100px;
}
